.App {
  text-align: center;
  color: #008000;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.title {
  display: flex;
  flex-flow: wrap;
  font-size: calc(2vmin);
  width: 100%;
}

.guide {
  display: flex;
  flex-flow: wrap;
  font-size: calc(2vmin);
  width: 100%;
}

.filter {
}

.Plant {
  background-color: green;
  color: white;
  font-size: calc(vmin);
  width: 30%;
  margin: 5%;
  padding: 5%;
  border-radius: 15px;
}

.Plant button {
  background-color: lightsalmon;
  border: none;
  color: green;
  font-weight: bolder;
  display: inline-block;
  text-align: center;
  font-size: medium;
  padding: 5%;
  margin: 5%;
}

.img {
  max-height: 50%;
  max-width: 100%;
}

.my-list {
  position: sticky; /* sticky wont work :,( */
  right: 0;
  float: right;
  width: 200%;
  flex-direction: column;
  display: flex;
}

.more-info {
  font-size: small;
  text-align: left;
}