.my-app {
  text-align: center;
  color: #008000;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* flex-direction: row; */
  height: fit-content;
}

.header {
  display: flex;
  flex-flow: wrap;
  font-size: larger;
  /* position:fixed;
  top: 0; */
  width: 100%;
}

.guide {
  display: flex;
  flex-flow: wrap;
  font-size: calc(2vmin);
  float: left;
  width: 60%;
}

.Plant {
  background-color: green;
  color: white;
  font-size: small;
  width: 13%;
  word-wrap: break-word;
  margin: 2%;
  padding: 5%;
  text-align: justify;  

  border-radius: 10px;
}

.Plant button {
  background-color: lightsalmon;
  border: none;
  color: green;
  font-weight: bolder;
  display: inline-block;
  text-align: center;
  font-size: medium;
  padding: 5%;
  margin: 5%;
}

.img {
  max-height: 50%;
  max-width: 100%;
}

.my-list {
  position:fixed;
  right: 0;
  font-size: large;
  float: right;
  padding-right: 10%;
  /* justify-content: left; */
  /* display: inline; */
  /* background-color: red;  DIVS NOT ALIGNED AS COLS */ 
  /* flex: 3; */
  /* width: 150%; */
  /* flex-direction: column; */
  /* display: flex; */
}

.more-info {
  font-size: small;
  text-align: left;
}